* {
  /*   margin: 0;
    padding: 0;
    box-sizing: border-box; */
}
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid #000;
}
.grid div {
    width: 20px;
    height: 20px;
}
.pac-dot {
    background-color: rgb(24, 8, 250);
    border: 5px solid white;
    box-sizing: border-box;
}
.wall {
    background-color: rgb(1, 1, 20);
}
.power-pellet {
    background-color: green;
    border-radius: 10px;
}
